/* Nombre: Romerson Santana Matricula: 14-SIIN-1-151 Seccion: 0541*/


USE [master]
GO
/****** Object:  Database [Romerson_AutoParts]    Script Date: 12/08/2018 22:14:35 ******/
CREATE DATABASE [Romerson_AutoParts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Romerson_AutoParts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Romerson_AutoParts.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Romerson_AutoParts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Romerson_AutoParts_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Romerson_AutoParts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Romerson_AutoParts]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 12/08/2018 22:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[DIRECCION] [varchar](60) NULL,
	[TELEFONO] [varchar](12) NULL,
 CONSTRAINT [PK_CLEINTES_IDCLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 12/08/2018 22:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURA](
	[IDFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NULL,
	[IDITEMS] [varchar](25) NULL,
	[FECHACOM] [varchar](20) NULL,
	[FORMPAGO] [varchar](10) NULL,
	[MONTO] [varchar](20) NULL,
 CONSTRAINT [PK_FACTURA_IDFACTURA] PRIMARY KEY CLUSTERED 
(
	[IDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 12/08/2018 22:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[IDITEMS] [varchar](25) NOT NULL,
	[DESCRIPCION] [varchar](70) NOT NULL,
	[USO] [varchar](25) NULL,
	[STOCK] [varchar](25) NULL,
	[EXPORTADO] [varchar](2) NULL,
	[CONDICION] [varchar](20) NULL,
 CONSTRAINT [PK_INVENTARIO_IDITEMS] PRIMARY KEY CLUSTERED 
(
	[IDITEMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([IDCLIENTE], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (1, N'ROMERSOM', N'C/SPAILLAT #66', N'809-765-0987')
INSERT [dbo].[CLIENTES] ([IDCLIENTE], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (2, N'RANDY SANTANA', N'C/MELLA KM9 ', N'809-967-0543')
INSERT [dbo].[CLIENTES] ([IDCLIENTE], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (3, N'ANDY', N'C/EDUARDO BRITO # 50', N'809-675-3245')
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
SET IDENTITY_INSERT [dbo].[FACTURA] ON 

INSERT [dbo].[FACTURA] ([IDFACTURA], [IDCLIENTE], [IDITEMS], [FECHACOM], [FORMPAGO], [MONTO]) VALUES (6, 1, N'01', N'09/09/2017', N'10/10/2017', N'6,500')
INSERT [dbo].[FACTURA] ([IDFACTURA], [IDCLIENTE], [IDITEMS], [FECHACOM], [FORMPAGO], [MONTO]) VALUES (8, 2, N'02', N'03/04/2018', N'06/07/2018', N'8,000')
INSERT [dbo].[FACTURA] ([IDFACTURA], [IDCLIENTE], [IDITEMS], [FECHACOM], [FORMPAGO], [MONTO]) VALUES (12, 3, N'03', N'09/07/2012', N'09/05/2018', N'7,000')
SET IDENTITY_INSERT [dbo].[FACTURA] OFF
INSERT [dbo].[INVENTARIO] ([IDITEMS], [DESCRIPCION], [USO], [STOCK], [EXPORTADO], [CONDICION]) VALUES (N'01', N'ACEITE CASTROL', N'TRANSMISION', N'20', N'NO', N'NUEVO ')
INSERT [dbo].[INVENTARIO] ([IDITEMS], [DESCRIPCION], [USO], [STOCK], [EXPORTADO], [CONDICION]) VALUES (N'02', N'ADITIVO', N'MOTOR', N'78', N'SI', N'NUEVO')
INSERT [dbo].[INVENTARIO] ([IDITEMS], [DESCRIPCION], [USO], [STOCK], [EXPORTADO], [CONDICION]) VALUES (N'03', N'MANGUERA HIDRAULICA ', N'MOTOR', N'46', N'NO', N'NUEVO')
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD FOREIGN KEY([IDITEMS])
REFERENCES [dbo].[INVENTARIO] ([IDITEMS])
GO
USE [master]
GO
